[2016-12-11 07:49] AllenMcAfee opened #1 "Draft content needs to be uploaded."

[2016-12-11 07:51] AllenMcAfee opened #2 "Basic styling"
Theme override is needed to create a custom styling based on the Sphinx theme.  Style needs to have:

- [ ] Exterior navigation (robo site, support center, trouble ticket)
- [ ] Responsive styling
- [ ] Robo-themed css work

[2016-12-11 07:55] AllenMcAfee opened #3 "Subdomain and DNS need to be setup"
Current site is located at: http://support-site.readthedocs.io/

The site is generated by Readthedocs.org.

desired subdomain address can be: docs.robo3d.com  or    manual.robo3d.com.  Open to other ideas.

[2016-12-11 08:03] AllenMcAfee commented on #3
Language support question: I provided the base url for the supporting docs site, that is the address before the language.  The full address is like this: ```http://support-site.readthedocs.io/en/latest/?badge=latest```.

In the final deliverable, we want to host multiple languages.  Readthedocs can provide language support in the method I showed above.  We want to make multilanguage browsing seaml

[2016-12-11 11:44] AllenMcAfee opened #4 "Styling overrides do not affect search results"
Search results are still displaying in the old theme.

[2016-12-12 19:50] AllenMcAfee opened #5 "Add QSG images to /docs/source/images"
@bkabili can you add the images Jonathan sent you for the QSG as separate assets to the images folder under /docs/source?

Thanks!

[2016-12-12 21:01] AllenMcAfee opened #6 "Demo file for .rst styling"
@Brictone the full styling example can be found here: https://github.com/Robo3D/support.robo3d.com/blob/master/docs/source/demo.rst

[2016-12-12 21:34] bkabili commented on #5
Yes, I just added those.

[2016-12-12 21:35] #4 closed

[2016-12-12 21:35] bkabili commented on #4
Fixed by adding search.html to the _template folder

[2016-12-12 21:45] AllenMcAfee commented on #5
can you add them to the folder I've called out in this issue, thanks!

[2016-12-16 01:22] dzimma opened #7 "Need to add a folder"
I want to add new sections in the manual that line up correctly with what's in the Google doc.

[2016-12-16 01:24] dzimma commented on #7
@AllenMcAfee

Let's make sure we have the correct sections in the manual based on what's in the Google doc.

[2016-12-16 22:41] dzimma commented on #7
@AllenMcAfee

For last step of Loading Filament under Getting Started I need the following shown as a bullet list:

Heating up the printer
Ensuring you’ve cut off the tip of the filament
Having the filament feed through until you see it coming from the nozzle
Pressing NEXT, and
Pressing FINISHED

[2016-12-16 22:58] dzimma commented on #7
@AllenMcAfee

For last step of Calibration and setting Z offset under Getting Started I need the following shown as a bullet list:

Waiting for the printer to calibrate its home position
Pressing up and down on the [insert descriptor] buttons while sliding a piece of paper between the nozzle and the print bed until you feel some resistance against the paper
Pressing FINISHED

[2016-12-16 23:29] dzimma commented on #7
@AllenMcAfee

For Step 4 and beyond for Using Hotspot Mode under Getting Started, we'll need the language to complete it. Right now, what Coby provided is insufficient (we have the images he provided copied into the Google Doc, but the text on them is hard to read).

[2016-12-28 00:21] AllenMcAfee commented on #7
@dzimma I've fixed the bullet list requests, but can you list out the correct sections here?  The google doc is hard to sift through.  I will try to get the images working then work on the hotspot language.

[2016-12-28 01:19] dzimma commented on #7
@AllenMcAfee

I have to push back some here to get some clarity on the email I sent out to you on 12/20 via gmail:

"Hi Allen,

  I've loaded most of the content via Github.

  However, I noticed there is some overlap with what we want in the Getting Started section and what's currently in the Operations section (especially in regards to setting the Z offset, removing a print, setting up wifi, and

[2017-02-10 19:31] #1 closed

[2017-03-16 17:40] CobyKabili opened #8 "Printer received with rods outs of place"
Problem:
The rods arent in the right place so the printers endstops werent being hit causing the printer to grind when trying to home

[2017-03-17 21:32] CobyKabili opened #9 "Hotend Cover isnt flat"
Issue: Hotend Cover is rocking back and forth on the extruder

Solution: Loosen the hotend and turn the heater block parallel to the extruder, then tighten back up.

[2017-03-23 22:00] CobyKabili opened #11 "Troubleshooting - Add 'fan speed' to 'print not sticking to bed'"
adjust fan speed down

[2017-04-04 21:14] CobyKabili opened #13 "troubleshooting- error - connection interrupted"
Problem: Mid print the main board not detected error pops up

Solution: Make sure the user is updated to the latest version on their machine

[2017-04-04 21:17] #7 closed

[2017-04-04 21:18] #5 closed

[2017-04-04 21:19] #6 closed

[2017-04-04 21:30] #11 closed

[2017-04-04 21:57] #9 closed

[2017-04-05 19:20] #8 closed

[2017-04-05 23:21] CobyKabili opened #16 "Operation - how to use onboard slicer"
Explain how to use onboard slicer

@Ximidar are we changing the way the onboard slicer works or are we keeping it through the wizards for now?

[2017-04-06 00:16] Ximidar commented on #16
The last I heard we were keeping it the same for now. It's going to take an entire redesign and recode to make it apart of the file system. So it may change, just not for the foreseeable future

[2017-04-06 18:28] CobyKabili commented on #16
Ok thanks. I will use the workflow that is in there now

[2017-04-12 18:25] CobyKabili opened #17 "Removing start gcode from other slicers"
Users are complaining that their printers are homing twice/not getting a solid first layer because of layer height/moving in weird direction at the beginning of the print

Every ticket they have used a different slicer and had a start gcode run after the octoprint start gcode. Need to explain how to take this out.

[2017-04-12 18:27] CobyKabili opened #18 "Troubleshooting - Print not sticking to bed - first layer height"
Need to add a first layer height explanation to troubleshooting

[2017-04-12 18:28] CobyKabili opened #19 "cura - how to add in cura profiles and link to download"
explain to users how to add in profiles to cura just like https://robo3d.com/cura-for-mac/

[2017-04-19 18:46] AllenMcAfee opened #22 "Need a map of links leading to support site"
To prevent any issues in the future about link compatibility leading into the support site, we need a simple map of what links are leading to it and where they live.

[2017-04-20 00:36] AllenMcAfee opened #23 "Move the Read The Docs black bar back under menu list"
@bkabili @CobyKabili Ben had moved the black bar I'm showing in the attached picture out from under the menu list, but on smaller screens is blocks out the links for the bottom of the lists as they expand.

Can we move this back inline with the menu?

![screen shot 2017-04-19 at 5 34 36 pm](https://cloud.githubusercontent.com/assets/4200307/25207993/a99a2a62-2526-11e7-9af2-c244889689b7.png)

[2017-04-20 19:56] bkabili commented on #23
@AllenMcAfee I added a larger margin to the bottom of the menu so that you can always scroll to the bottom of the menu even if you are on a small screen and the black bar is over the menu. You should be able to get to all parts of the menu no matter what.
![screen shot 2017-04-20 at 1 48 13 pm](https://cloud.githubusercontent.com/assets/5116731/25249761/54ab509e-25d0-11e7-903d-045dd64bfbbd.png)
In

[2017-04-25 18:22] CobyKabili opened #24 "Abrasive materials chew through filament block"

[2017-04-25 23:59] CobyKabili opened #25 "Troubleshooting - e steps calibration guide"
Use this as inspo http://zennmaster.com/makingstuff/reprap-101-calibrating-your-extruder-part-1-e-steps

[2017-04-26 23:33] CobyKabili commented on #25
here is another reference https://mattshub.com/2017/04/19/extruder-calibration/

[2017-05-01 18:25] CobyKabili opened #26 "screen is plugged in backwards on gif image"
re-shoot video

[2017-05-08 18:15] #26 closed

[2017-05-10 04:56] AllenMcAfee opened #28 "Edit Safety & Compliance section"
The safety & compliance section needs to be better formatted with Icons to represent each safety warning.

[2017-05-10 18:02] #25 closed

[2017-05-10 18:46] CobyKabili commented on #28
@AllenMcAfee Do we have all of the safety warning icons in one place? Potentially can ask ben to make them

[2017-05-10 18:57] CobyKabili opened #29 "Troubleshooting easy access site needs photo guide"
Better if we had photos that showed the problem alongside the description

For Inspiration: http://support.3dverkstan.se/article/23-a-visual-ultimaker-troubleshooting-guide

[2017-05-11 00:26] AllenMcAfee opened #30 "Create webpage robo3d.com/calibration"
The Zoffset tool has the weblink `robo3d.com/calibration` at the bottom of the card.  We need to make this page before R2s arrive with customers.

[2017-05-11 00:28] AllenMcAfee opened #31 "Create webpage or redirect for guide.robo3d.com/r2extruder"
The R2 extruder has `guide.robo3d.com/r2extruder` labeled on the Downtown PCBA as a reference point for putting the extruder back together.  We'll need to setup a redirect for this weblink and create a breakdown page for the R2 extruder.

[2017-05-15 17:29] #28 closed

[2017-05-16 19:00] CobyKabili opened #32 "Remove Yellow bar from read the docs page"
@bkabili can you remove the yellow are at the bottom of the page?

[2017-05-17 17:11] #32 closed

[2017-05-17 19:49] CobyKabili commented on #3
@bkabili will do this when he gets access to the hosting info when @braydonmoreno gets back on thursday or Friday.

[2017-05-17 19:52] CobyKabili opened #33 "Add google analytics to readthedocs"
@braydonmoreno will you make a analytics number to put into our guides? @bkabili will implement it

[2017-05-17 20:21] AllenMcAfee commented on #3
Credentials for godaddy are:

morenob
CreateGreat100!!!!

[2017-05-17 22:30] Brictone commented on #3
For some reason on still on this. Please change the godaddy password and
make sure me or anyone else that should not be is not on this guthub. Also
sharing passwords over messages and email is never a good idea.

On Wed, May 17, 2017, 1:21 PM Allen McAfee <notifications@github.com> wrote:

--
Brian Gottlieb
213.290.2433
www.bg3d.com

[2017-05-18 21:40] bkabili commented on #3
This is complete.

[2017-05-18 22:10] #3 closed

[2017-05-18 22:33] CobyKabili commented on #30
@AllenMcAfee do we have a specific date or at least an estimated date an R2 will get to a customer?

[2017-05-18 23:25] AllenMcAfee commented on #30
@jerryrobo3d any thoughts on the date R2 customers will start receiving their printers?

[2017-05-24 22:14] CobyKabili opened #36 "Sphinx RTD theme needs 3 levels of tree depth"
What I have read is that the sphinx theme we currently use for readthedocs is limited to 2 levels of tree depth. We want to make this a 3 level tree so we can add headers such as 'C2' 'R2' 'iOS' app etc..

So far, I have found these that explain the them only goes 2 levels deep. [Here](https://github.com/rtfd/sphinx_rtd_theme#how-the-table-of-contents-builds)  is where they talk about using css to

[2017-05-24 22:24] #33 closed

[2017-05-25 19:34] CobyKabili commented on #30
@bkabili for now can you redirect robo3d.com/calibration to http://docs.robo3d.com/en/latest/operation/index.html#setting-the-z-offset

[2017-05-25 19:59] bkabili commented on #30
robo3d.com/calibration is now directing to http://docs.robo3d.com/en/latest/operation/index.html#setting-the-z-offset

[2017-06-01 00:05] #36 closed

[2017-06-02 01:04] CobyKabili opened #37 "Headers needed for R2"
@bkabili I need these headers to be made before we push the doc live

- [x] Getting Started

- [x] Operation

- [x] Maintenance

- [x] Troubleshooting

Also need Simple headers that just show the product;

- [x] R2

- [x] C2

[2017-06-02 01:07] CobyKabili commented on #37
Here are the renders https://www.dropbox.com/home/R2%20renders

[2017-06-02 16:48] CobyKabili opened #38 "operation - R2- starting the webcam"
User is confused as to how to start the webcam. Didnt know it ships with it off - need to show how to turn it on.

[2017-06-02 18:06] bkabili commented on #37
![c2](https://cloud.githubusercontent.com/assets/5116731/26738572/daf8c8ca-478b-11e7-8eb9-8519f736668a.jpg)
![r2-getting-started](https://cloud.githubusercontent.com/assets/5116731/26738573/dafb52c0-478b-11e7-8fcc-05ac197d8b03.jpg)
![r2-maintenance](https://cloud.githubusercontent.com/assets/5116731/26738571/daf88ba8-478b-11e7-834e-a39db85b2a8c.jpg)
![r2-operation](https://cloud.githubusercontent.

[2017-06-02 18:15] CobyKabili commented on #37
Thanks @bkabili the Robo R2 maintenance is a picture of the C2 though...

[2017-06-02 18:24] bkabili commented on #37
@CobyKabili ok, lets just use this then.
![r2-maintenance](https://cloud.githubusercontent.com/assets/5116731/26739276/700621fe-478e-11e7-9720-581134c3b58b.jpg)

[2017-06-02 18:38] CobyKabili commented on #37
Awesome thanks!

[2017-06-02 18:38] #37 closed

[2017-06-02 19:11] CobyKabili opened #39 "Make a 'latest' page that has both C2 AND R2 information"
Right now, the latest page is the first thing that comes up, but there is only info on the C2. We need to change this to be both products.

http://docs.robo3d.com/en/latest/index.html

@bkabili can you make a header that show both c2 and r2 and maybe the app and a comp with cura on it? Anything that looks good in your opinion to be the header for all documentation

[2017-06-02 21:43] bkabili commented on #39
@CobyKabili How about this?
![support](https://cloud.githubusercontent.com/assets/5116731/26745922/2a3603b2-47aa-11e7-9478-245595fa4737.jpg)

[2017-06-02 22:09] CobyKabili commented on #39
@bkabili Can it say docs instead of support

[2017-06-05 17:30] bkabili commented on #39
@CobyKabili
![docs](https://cloud.githubusercontent.com/assets/5116731/26795274/556dfc80-49e2-11e7-8c5b-1c098b2e057f.jpg)

[2017-06-05 23:49] CobyKabili commented on #39
perfect

[2017-06-05 23:49] #39 closed

[2017-06-05 23:57] #2 closed

[2017-06-06 17:42] CobyKabili opened #45 "troubleshooting - R2 - Replacing z limit switch"
Many customers are experiencing broken z endstops from shipping. Need to explain how to replace it when they get a replacement part in.

[2017-06-06 17:49] CobyKabili opened #46 "Cura installed in program files not program files (x86)"

[2017-06-07 00:09] #46 closed

[2017-06-07 18:39] CobyKabili opened #48 "Create a readthedocs for R1+"

[2017-06-07 20:42] CobyKabili opened #49 "Operation - how to print from USB"
Put in how to print from usb
https://robo3d.com/usbdrive/

[2017-06-07 20:43] CobyKabili opened #50 "Operation - how to print from chromebook"
Put in how to print from a chromebook or web browser
https://robo3d.com/chromebook

[2017-06-07 21:49] #50 closed

[2017-06-08 00:44] #49 closed

[2017-06-08 00:44] #16 closed

[2017-06-08 00:58] CobyKabili opened #52 "cura for mac octoprint plugin install"
To get the connection working for a Robo printer in Cura 2.5 on Mac, follow these directions:

Find Cura 2.5 in Applications folder
Right click on Cura 2.5 and select "Show Package Contents"
Navigate to the folder shown in the picture below
Add the unzipped folder labeled OctoPrintPlugin to the "plugins" folder
Restart Cura 2.5

That's it! You should have it working now
[OctoPrintPlugin.zip](https

[2017-06-08 01:00] CobyKabili commented on #13
refer to mattp email on 6/7/17

[2017-06-08 16:35] CobyKabili opened #53 "change docs.robo3d.com favicon"
@bkabili can you change the favicon on docs.robo3d.com to something else?

[2017-06-09 21:03] victorevector opened #54 "Add section for usb webcam"
Add a section for how to configure the C2 to stream a webcam attached to the USB.

This should only be performed by experienced users as they can damage robo's operating system.

1. SSH into the printer's computer.

1. Edit the file located in `/home/pi/scripts/webcamDaemon`

1. Find the line that looks like this `camera_usb_options="-r 640x480 -f 10"`

1. Find your "Camera" on this [page](https:/

[2017-06-12 15:51] bkabili commented on #30
@CobyKabili this url is no longer valid.
I can change the redirect. Should I use
http://docs.robo3d.com/en/latest/C2/operation/index.html#setting-the-z-offset
or
http://docs.robo3d.com/en/latest/R2/operation/index.html#setting-the-z-offset

[2017-06-12 15:52] bkabili commented on #23
@AllenMcAfee @CobyKabili can we close this or do we still want the bar moved?

[2017-06-12 21:03] CobyKabili commented on #30
Use http://docs.robo3d.com/en/latest/C2/operation/index.html#setting-the-z-offset
for now until we get the R2 support page up to speed

[2017-06-12 21:04] AllenMcAfee commented on #23
@bkabili It is still problematic in it's current state.  Check the photo below.
![screen shot 2017-06-12 at 2 02 48 pm](https://user-images.githubusercontent.com/4200307/27055028-e31e56b6-4f77-11e7-82de-7dcf99616ba6.png)

The bar still overs the text if the menu is long enough.  If we can move this directly under the menu, and shrink the menu's bottom margin to fit it, then I think we're in busine

[2017-06-12 23:52] CobyKabili opened #55 "troubleshooting - add how to update firmware"

[2017-06-13 17:37] CobyKabili opened #56 "operation - shut down procedure"

[2017-06-13 21:15] #53 closed

[2017-06-14 22:24] #13 closed

[2017-06-14 22:29] #18 closed

[2017-06-15 00:21] #55 closed

[2017-06-15 23:37] CobyKabili opened #59 "troubleshooting - replacing pogo pin pcb"

[2017-06-19 17:18] #59 closed

[2017-06-19 17:18] #45 closed

[2017-06-20 23:29] CobyKabili opened #60 "Troubleshooting - How to replace door"

[2017-06-20 23:30] CobyKabili commented on #38
@Ximidar is this in the latest release? By latest release I mean its pushed to customers. Is there any special instructions beside toggling it on and off from the screen?

[2017-06-20 23:53] Ximidar commented on #38
@CobyKabili There is only a toggle on the LCD screen. I believed it was pushed to the users, but we will need @victorevector to verify. There is no other information on turning the webcam on and off

[2017-06-21 00:45] CobyKabili commented on #38
@Ximidar @victorevector what is the function that this button does? (I assume its just starting the webcam) Does the user need to refresh the browser once it is pressed?

[2017-06-21 00:48] victorevector commented on #38
@CobyKabili there are currently 3 official ways to turn the webcam on and off:

1. RoboLCD: Utilities > Options > Webcam

2. Web Dashboard: Top Right Menu > System > Start Webcam; then refresh the page

3. iOS (BETA only; release Friday): Webcam > toggle button

[2017-06-21 20:33] #38 closed

[2017-06-21 20:33] #60 closed

[2017-06-23 19:49] CobyKabili opened #62 "Troubleshooting - aligning and tightening gear on extruder"
[Extruder gear alignment.docx](https://github.com/Robo3D/support.robo3d.com/files/1098917/Extruder.gear.alignment.docx)

[2017-07-10 17:19] CobyKabili opened #63 "Cura windows- dll error on hp (w/ fix)"
Download http://ftp.hp.com/pub/softpaq/sp78001-78500/sp78033.exe and extract the files.
Open windows Control Panel, open Programs and Features, right click the entry for HP 3D DriveGuard and select Uninstall.
(If it is not in the list, just run the setup and select Remove if that option is available)
When this has completed, restart the computer
Run the setup again, if you get an INI error during

[2017-07-10 17:24] AllenMcAfee commented on #63
@CobyKabili can you provide some info on how you got to this?

[2017-07-10 19:17] CobyKabili commented on #62
STEP 1 (video attached)
a.     Apply pressure to filament arm to release tension

b.     Insert 1.75mm dia. filament through feed hole

c.      Push and pull filament until hob gear is in position (filament is centered within the groove)

d.     Align set screw with flat surface on the shaft

STEP 2 (photo attached)
a.     Release filament arm

b.     Tighten set screw

![step 2](https://user-imag

[2017-07-10 19:23] CobyKabili commented on #63
@AllenMcAfee Dan from CS said it happens only on HP computers. This was a reference just to put into the troubleshooting  to make it easier for the CS guys, but I do not know the root cause, only that it sometimes comes up as a customer service email. It happened one time on steves microsoft surface but that was when we deployed 2.3 for the very first time. 2.5 seems to only have issues on HP comp

[2017-07-10 20:59] AllenMcAfee commented on #63
@CobyKabili thanks!  Has this been tested?

[2017-07-13 20:15] AllenMcAfee opened #64 "Add instructions for using Fine Tune Wizard (ZOFFSET)"
The current Fine Tune Wizard documentation is very minimal.  We will want to add more guidance regarding the relationship between Z Offset Wizard and the Fine Tune Wizard.

[2017-07-17 19:15] #62 closed

[2017-07-17 20:01] #63 closed

[2017-07-18 00:21] AllenMcAfee opened #72 "Ads are showing up below side menu"
![screen shot 2017-07-17 at 5 21 08 pm](https://user-images.githubusercontent.com/4200307/28295261-59b4bc5e-6b14-11e7-8206-138e83a7d266.png)

[2017-07-18 16:23] bkabili commented on #72
@AllenMcAfee
Looks like they ask for a donation to remove the ads.
https://readthedocs.org/dashboard/support-site/advertising/

They ask for at least $5/month which we can pay with a credit card here:
https://readthedocs.org/accounts/gold/subscription/?

I can always hide that div until we decide what to do as well...

[2017-07-18 17:46] CobyKabili commented on #72
@bkabili hide it for now

[2017-07-19 05:06] bkabili commented on #72
That div is now hidden, let me know it looks good on your end.

[2017-07-26 20:15] #72 closed

[2017-07-26 20:15] #64 closed

[2017-07-26 20:30] AllenMcAfee opened #73 "Mobile view shows `Stashed changes` header in menu"
![img_0387](https://user-images.githubusercontent.com/4200307/28642259-a6ab4066-7206-11e7-94de-9eb23ce3f53e.PNG)

[2017-07-26 21:03] CobyKabili commented on #73
@bkabili this is weird ive never seen that. Maybe because there is more content then we are showing? I dont know how to fix this

[2017-07-26 21:55] bkabili commented on #73
@AllenMcAfee @CobyKabili I noticed when you refresh the page on a desktop browser you can see this same message flash quickly and then go away. Ill look in to this.

[2017-07-28 20:24] bkabili commented on #73
@AllenMcAfee this is from a git merge conflict:
https://wincent.com/wiki/Git_merge_conflict_cheatsheet

Coby said you would know best how to resolve something like this.

[2017-07-28 20:34] AllenMcAfee commented on #73
This can be a GitHub merge error. There is really no way to reverse this
that I know of, you'll need to scrub these bugged lines by hand.

On Wed, Jul 26, 2017 at 2:55 PM Ben Kabili <notifications@github.com> wrote:

[2017-07-29 18:18] bkabili opened #76 "Fix wording in C2 troubleshooting section"
@CobyKabili
In the C2 troubleshooting section under Filament Runout Sensor Error it says:
'If you see an error while printing that' with nothing else. Looks like a mistake.
http://support-site.readthedocs.io/en/latest/C2/Troubleshooting/index.html#filament-runout-sensor-error

[2017-08-04 18:16] AllenMcAfee opened #77 "Change link color to standard light blue"
The current color for links in the user manual is yellow, which is a little hard to see on a mobile device.  Can we switch the links to blue, or something more visible?

[2017-08-08 01:23] CobyKabili commented on #31
www.guide.robo3d.com/r2extruder is the website listed on the pcb.

@bkabili can you redirect www.guide.robo3d.com/r2extruder to just docs.robo3d.com for now?

[2017-08-08 17:42] #76 closed

[2017-08-08 18:27] bkabili commented on #31
www.guide.robo3d.com points to Dozuki, do we the login info for that so I can see if there is a way to forward that URL? @braydonmoreno

[2017-08-08 18:52] CobyKabili commented on #52
On Mac you cannot connect your printer like you can on Cura for Robo on Windows unless you do this. (As far as I know). A few customers asked about this so I decided to email this to you all in case you were interested. The instructions have a little too much info but that's so it's easier for a novice.

This works for Cura 2.3.1-2.6.2 (current). Should also work for future releases.

Step 1) Down

[2017-08-11 23:15] AllenMcAfee opened #78 "Extruder jammed tutorial has incorrect mapping of extruder wires"
![screen shot 2017-08-11 at 4 13 04 pm](https://user-images.githubusercontent.com/4200307/29235014-22105416-7eb0-11e7-9e1b-93cba67b80d8.png)

The above image has the Heater 1 OUT connector labeled as Therm.  The connector labeled Heater is supposed to read Heater 1 IN.

[2017-08-15 22:52] #77 closed

[2017-08-17 00:32] AllenMcAfee opened #81 "Add instructions on how to download Octoprint log files for CS"
![screen shot 2017-08-16 at 5 31 12 pm](https://user-images.githubusercontent.com/4200307/29390982-c8f981fc-82a8-11e7-9f6a-c9920e697068.png)

The image above shows the location of the Logs within the settings screen of Octoprint.  The three logs highlighted are the logs customers should download and send the CS rep helping them.  The logs are timestamped, so we will need to make sure we explain th

[2017-08-18 00:02] jerryrobo3d opened #82 "Tutorial for checking health of pogo pins, checking if your bed is seated properly"
I know we have a pogo pin replacement tutorial but it doesn't tell you how to check if you need to replace your pogo pins. Something along these lines is needed...

"Please pull off your bed and check the 6 golden colored pins in the back that are vertical.  Each one should be springy and rebound when you press down on them.  Let me know if any of them are not springy."

Also to make sure the cust

[2017-08-21 19:50] AllenMcAfee opened #83 "R1+ Docs changes"
Image for R1+ that is similar to the headers images of R2 and C2 (with logo)
@JonathanWegner can you provide an image for the R1 similar to the R2 and C2 header images (here is an example: http://docs.robo3d.com/en/latest/R2/index.html)

The current R1+ image is just the printer, no other branding (http://support-site.readthedocs.io/en/dev/R1Plus/index.html)

[2017-08-21 19:55] mnacinopa commented on #48
We have a rough first draft of the read the docs now.
It's still on the dev branch.

[First Pass](http://support-site.readthedocs.io/en/dev/)

[2017-08-21 19:57] mnacinopa commented on #81
Coby just asked me to make documentation for the Webdash. I'll try to get this done this week.

[2017-08-22 21:52] davidmanley opened #84 "Request tutorial for unclogging extruder"
need detailed guide for un clogging the R2 hotend

[2017-08-23 00:00] spoogs2003 opened #85 "How to swap out micro sd on R2/C2"
Please create a tutorial on how to replace a micro sd card on the raspberry pi.

[2017-08-23 00:03] spoogs2003 opened #86 "How to swap bearings on X and Y axis on the R2/C2 extruder mount"
A tutorial on how to swap out bearings

[2017-08-23 00:16] spoogs2003 opened #87 "How to fix a run-out filament sensor without turning it off"

[2017-08-23 17:11] CobyKabili commented on #86
@ROBOLabs do you have this?

[2017-08-23 17:25] ROBOLabs commented on #86
It's in the pipeline. Right now I have the Gantry Removal Guide, the Front Panel Removal Guide, and the LCD Screen Removal Guide. Next in line is the Z-axis Removal Guide and the Extruder Removal Guide, so I'll add a demonstration of how to swap bearings in that one.

[2017-08-23 18:33] mnacinopa commented on #81
This is done.
http://support-site.readthedocs.io/en/dev/web-interface/index.html

[2017-08-23 18:33] #81 closed

[2017-08-23 19:41] ROBOLabs opened #88 "R2 Maintenance Guides"
@CobyKabili Here are the Gantry Removal, Front Panel Removal, and LCD Replacement Guides. More guides to come soon.
[R2 Front Panel Removal Guide.pdf](https://github.com/Robo3D/support.robo3d.com/files/1246779/R2.Front.Panel.Removal.Guide.pdf)
[Robo 3D R2 LCD Screen Replacement Guide.pdf](https://github.com/Robo3D/support.robo3d.com/files/1246780/Robo.3D.R2.LCD.Screen.Replacement.Guide.pdf)
[R2 Ga

[2017-08-23 19:46] mnacinopa commented on #82
Just added a pogo pin check.
[Pogo Pin Check](
http://support-site.readthedocs.io/en/dev/R2/Troubleshooting/index.html#checking-your-pogo-pins)

[2017-08-23 19:57] mnacinopa commented on #78
Fixed the labeling

[2017-08-23 21:49] mnacinopa commented on #88
[Front Panel Removal](https://docs.google.com/document/d/1bNjgpHLnlV-nBt2RHenPyoMlTDSq3BNYZuP1_3nop5s/edit?ts=599cd477)

@ROBOLabs  Can you post the rest of the editable docs? We need to be able to parse the images from the document. So like the original word doc, or the google doc link. Thanks

[2017-08-23 21:55] AllenMcAfee commented on #88
@ROBOLabs can we also make Google Slides our default style for these tutorials?  The landscape view is much nicer and we have a template ready made for Robo.

[2017-08-23 22:16] ROBOLabs commented on #88
[LCD Replacement Guide](https://docs.google.com/a/robo3d.com/document/d/1ci8q527K_u_o4PlOvhNRXqdOw1pbAyriQBRV8H4-G-4/edit?usp=sharing)

[Gantry Removal Guide](https://docs.google.com/a/robo3d.com/document/d/1B4C_Hxn6ZvLPZgTgBLzZ5toGPrLozUEurjw3Fsm48lY/edit?usp=sharing)

@AllenMcAfee Noted. Will use Slides with Robo template moving forward.

[2017-08-28 22:49] mnacinopa commented on #88
@AllenMcAfee
First draft of the [Assembly Docs](http://support-site.readthedocs.io/en/dev/R2/assembly/index.html) for both the Gantry and Front Panel Removal. Will probably revise the GIFs to make them slower or just use static photos

[2017-08-28 23:21] mnacinopa commented on #88
Added LCD Replacement.

[2017-08-28 23:32] #48 closed

[2017-09-08 17:41] mnacinopa commented on #56
Added to Helpdesk articles [Correct Shutdown Sequence](https://help.robo3d.com/hc/en-us/articles/115001490471-Correct-Shutdown-Sequence)

[2017-09-08 17:41] #56 closed

[2017-09-08 17:59] peries commented on #56
@mnacinopa a few edits:
Make sure to follow the proper **shut down** procedure to help keep your machine running smoothly. **Do not turn off the back power switch before running the on-screen shut down  sequence.**

**On the printer's touchscreen, navigate** to Options >> System >> Shut Down
Follow **the** on-screen instructions and wait **until** the screen turns black.
Once the screen turns blac

[2017-09-08 18:11] mnacinopa commented on #56
@peries  Got it. Updated

[2017-09-08 23:03] #52 closed

[2017-09-13 19:03] CobyKabili commented on #85
@mnacinopa can you please make these? We can reuse some content from opening up the printers to get to the inside if you would like.

[2017-09-13 19:04] #82 closed

[2017-09-13 19:06] CobyKabili opened #90 "Gantry alignment on R2 and C2"
Tutorial showing how to loosen and tighten pulleys on R2 and C2 for fixing spacing (maybe the creeking noise) - dont forget to use the rod holders for keeping the gantry alligned. May need to put these up on thingiverse for users to print before they start the tutorial.

[2017-09-13 19:33] CobyKabili opened #91 "Troubleshooting - R1 - check the wire for bad extruder motor and how to replace it"
check stepper driver as well

[2017-09-13 19:35] CobyKabili opened #92 "C2, R2 how to replace fan cowl with new, printer version tutorial"

[2017-09-13 23:50] CobyKabili opened #93 "Redirect http://robo3d.com/r2-electronics to home page"
the url on the electronics board points to a nothing page. Can you redirect it for now? @bkabili

[2017-09-14 17:42] CobyKabili opened #94 "R2/C2 removal of extruder and rods from grantry"
People who need to remove their extruder assembly dont have instructions on how to do it. They think they may need to remove the entire gantry system. Lets create an article where we show them how to undo the 6mm rods and remove the extruder assembly that way.

[2017-09-15 00:19] mnacinopa commented on #85
This is done. I chose to not open up the Front Panel for the R2 Micro SD swap because it's not entirely necessary. It's more work removing that, than simply fiddling with the SD card a little bit to get the right angle to reinsert it.  Done for R2 and C2 in their respective Troubleshooting sections

[2017-09-15 00:19] #85 closed

[2017-09-15 19:55] mnacinopa commented on #91
@CobyKabili  Can you show me how to troubleshoot this at some point?

[2017-09-15 21:24] mnacinopa commented on #92
will get to this once jason updates and sends me the new fan cowl

[2017-09-15 22:44] CobyKabili opened #95 "Update articles with comparison to new LCD update"
I believe the big ones are slicing and file management. We also need to be on par with errors the user may encounter.

[2017-09-18 19:27] mnacinopa commented on #94
@CobyKabili  Is this just to remove the extruder assembly? Or do i need to make a guide on how to change the bearings within it?

[2017-09-19 00:35] mnacinopa commented on #94
[C2](https://help.robo3d.com/hc/en-us/articles/115001624591-Servicing-Extruder-Assembly-)
[R2](https://help.robo3d.com/hc/en-us/articles/115001633792-Servicing-Extruder-Assembly)

There's no difference between the two besides a note saying C2 and R2 have similar extruder assemblies. @peries  Can you take a look at the copy whenever you can? Thanks

[2017-09-20 19:23] CobyKabili commented on #94
@mnacinopa these look good. In the R2- we have to mention that there is a second cable for the heating of Ext 2. It should be marked with a black mark i believe. We need to tell them about this.

[2017-09-27 22:24] mnacinopa commented on #90
[Gantry Alignment](https://help.robo3d.com/hc/en-us/articles/115001792512). Here's a rough pass at a gantry aligning tutorial.

[2017-09-28 22:50] mnacinopa commented on #90
@CobyKabili  Revised it! Let me know if you want it done any differently.

[2017-10-05 20:35] CobyKabili commented on #90
still not quit right. Ill let you know, but its almost there.

[2017-10-05 20:37] CobyKabili commented on #90
@mnacinopa all 4 pulleys of one axis have to be loosened. Also, if there can be a picture highlighting which pulleys to loosen it would be nice.

[2017-10-05 20:54] #94 closed

[2017-10-05 20:58] CobyKabili opened #96 "Electronics mainboard images and plug locations for R2/C2 and R1+"
@mnacinopa we need a schematic of the electronics boards for when customers are replacing and plugging in. Something like the 3 examples below, but we need it for both the all 3 of our printers

http://reprap.org/mediawiki/images/thumb/6/6d/Rampswire14.svg/500px-Rampswire14.svg.png

http://www.hobbyist.co.nz/sites/default/files/ramps/schematic.png

http://www.achatzmediaserver.com/support/wp-conte

[2017-10-05 21:00] CobyKabili commented on #73
this is outdated for the moment. Can be reopened if we decide to use it for other projects

[2017-10-05 21:02] #73 closed

[2017-10-11 01:13] CobyKabili opened #97 "How to change hotend while using old therm and heater core R2/C2"

[2017-10-11 01:14] CobyKabili commented on #97
Need article explaining steps to do this

[2017-10-11 01:15] CobyKabili opened #98 "Update C2 screen article for ribbon cable placement"
Need to update screen ribbon cable article to show exactly how to plug back in. Customers are plugging into the wrong pins and some are making the screen go out.

[2017-10-11 01:17] CobyKabili opened #99 "R2 sub-article for new bed with old bed x plate and cutting it away"
Some old bed x plates cant update to the new plugged bed because they have the old x plate and we need to show them how to cut the plastic off of the back of the x plate so the new bed V2 will fit correctly

[2017-10-11 16:20] mnacinopa commented on #98
@CobyKabili  I wanted to do this but people have varying versions of C2 Screens. Which is why I mentioned in the article to "Plug it in exactly as you found it". One would require inverting the connector, and one would not.

[2017-10-16 22:04] CobyKabili opened #100 "General - How to check order status on website"
Show end-user how to check their order status through the website

[2017-10-17 17:24] CobyKabili opened #101 "C2/R2 - How to fix creaking noise with washer"
1. Loosen pulleys
2. put spacer in between pulley and bearing (pulley stl is with konrad, I also have a version we can try)
3. Tighten pulleys

[2017-10-17 18:18] ROBOLabs commented on #101
I tried this yesterday on an R2 with the STL I created, and it seems to work as expected. I will run a series of prints on the modified machine(s) and monitor the performance.

[2017-10-17 18:48] mnacinopa commented on #101
@ROBOLabs  Can you send me the stl?

[2017-10-17 19:02] ROBOLabs commented on #101
[R2 1mm PS C-clip.zip](https://github.com/Robo3D/support.robo3d.com/files/1392246/R2.1mm.PS.C-clip.zip)
I recommend printing at least 6 to a bed using a raft since they are so small.

[2017-10-17 23:33] mnacinopa commented on #91
@CobyKabili  I Created the troubleshooting portion of the issue. Published it as a draft. Next I'll work on actual replacement of the parts.

[2017-10-18 00:35] mnacinopa commented on #91
@CobyKabili @peries   Finished updating it for replacing the stepper driver. Please review/edit grammar as you see fit and go ahead and publish it.
[Extruder Motor Not Working](https://help.robo3d.com/hc/en-us/articles/115002197612)

[2017-10-18 01:09] CobyKabili commented on #91
@mnacinopa I don't see steps 5-8 for some reason...

[2017-10-18 16:37] mnacinopa commented on #91
@CobyKabili  Weird. It deleted them.

oh well I remade the steps.

[2017-10-18 17:04] CobyKabili opened #102 "R1 - How to install new heatbed for replacement"
Also add in glueing magnets onto bed

[2017-10-18 21:16] mnacinopa commented on #96
@AllenMcAfee  We want to do something like what Coby linked to above.

[2017-10-18 21:42] CobyKabili opened #103 "R1 - how to print flexible material"

[2017-10-19 00:23] CobyKabili commented on #91
@mnacinopa this looks great! I edited the last version and pushed it live. Good work, this was a big one we will use a lot.

[2017-10-19 00:23] #91 closed

[2017-10-19 00:29] #98 closed

[2017-10-19 00:49] CobyKabili commented on #101
I put 6 of them on a plate so they can print out nicely and the user wont get frustrated with it not printing. Also, I will make c2 and r2 gcode versions of these for best print results.

[R2 1mm Rod C-clip.zip](https://github.com/Robo3D/support.robo3d.com/files/1396759/R2.1mm.Rod.C-clip.zip)

[2017-10-19 18:34] mnacinopa commented on #97
@CobyKabili  i finished the articles for both the C2 and R2. I also updated the Removing the Hotend articles for both. Let me know what you think.

[2017-10-19 20:40] mnacinopa commented on #102
Will the new replacement heatbeds be the new removable version?

[2017-10-19 21:54] CobyKabili commented on #97
Awesome! Edited them a tiny bit but looks great

[2017-10-19 21:54] #97 closed

[2017-10-23 23:28] CobyKabili commented on #102
1. We need a side note of old version of heat bed needs to remove the ribbon cable mount on the y axis bracket.

2. Side note of new bed, make sure it's plugged into its plug out of the back of the printer.

[2017-10-25 23:57] mnacinopa commented on #96
@CobyKabili  [R2/C2 Mainboard Schematic](https://help.robo3d.com/hc/en-us/articles/115002394151)

[2017-10-27 17:51] peries opened #104 "Add photos to R1+ unboxing article"
https://help.robo3d.com/hc/en-us/categories/115000094492

[2017-10-27 18:02] peries opened #105 "Update macros from R1+ Plus to R1+"

[2017-10-27 21:48] mnacinopa commented on #101
[Gantry Click/Creak](https://robo3d.zendesk.com/knowledge/articles/115002455272/en-us?brand_id=114094254812)
@ROBOLabs @CobyKabili  Can one of you upload the clip files somewhere so we can link it in the article?

[2017-10-27 22:13] #101 closed

[2017-10-28 00:39] #102 closed

[2017-10-28 00:41] CobyKabili commented on #86
https://help.robo3d.com/hc/en-us/articles/115001633792-Servicing-Extruder-Assembly

[2017-10-28 00:41] #86 closed

[2017-10-28 00:42] #83 closed

[2017-10-28 00:42] #23 closed

[2017-10-30 20:37] mnacinopa commented on #96
@CobyKabili
Here's the first draft of it. I asked @peries to try to see if she could clean it up a bit.
![artboard 1](https://user-images.githubusercontent.com/25697446/32194346-5c84f9b6-bd77-11e7-98b2-51a7614195a2.png)

The C2 one would obviously just be this without the heatbed connections
![artboard 1](https://user-images.githubusercontent.com/25697446/32194783-9b8f2432-bd78-11e7-97b3-e2937a344

[2017-10-30 21:05] mnacinopa commented on #96
Doubled the thickness of the wiring to make it easier to see
**R2**
![artboard 1](https://user-images.githubusercontent.com/25697446/32195709-5279914e-bd7b-11e7-9fe1-2a7f1f58d143.png)

**C2**
![artboard 1](https://user-images.githubusercontent.com/25697446/32195728-6173a3e2-bd7b-11e7-8cc7-541f5ed7b563.png)

[2017-10-31 00:23] CobyKabili opened #106 "support website changes from 10/19/17"
- [ ]  Make support menu item non-dropdown - links to help center site

- [ ] Make the community page on the help center link to the user forums

- [ ] Registration is within the help center

- [ ] Products, explore, support top level menu items

- [ ] Delete help@robo3d.com email from contact us. Use forms only to start tickets

- [ ] Get rid of press room on contact page from contact us

- [ ] C

[2017-10-31 01:04] CobyKabili commented on #96
@mnacinopa these are great. One question, is there a reason the board is upside down?

[2017-10-31 07:39] AllenMcAfee commented on #96
@mnacinopa the "B" is flipped in this version as well.  Who the hell is ropo?

[2017-10-31 16:06] mnacinopa commented on #96
@CobyKabili  Not really. I made the board first then made the logo after and didnt think about it.

@AllenMcAfee  Some new printer company thats trying to steal our logo.

Wiring Edits Peri made.  Changed ropo to robo, for copyright reasons.

C2
![artboard 1](https://user-images.githubusercontent.com/25697446/32234541-5692cbf2-be1a-11e7-8281-58d97ec28de0.png)

R2
![artboard 1](https://user-images.

[2017-10-31 23:50] CobyKabili commented on #90
@peries can you review these and make sure they make sense to you

[2017-11-01 00:12] mnacinopa commented on #90
@CobyKabili  I added the picture highlighting the pulleys into the R2 article

[2017-11-01 00:26] mnacinopa commented on #29
I think we should start tackling this and make use of the "General" Section on the help site.

[2017-11-01 18:07] peries commented on #90
@CobyKabili made a couple tiny edits but it looks good to me

[2017-11-01 18:11] CobyKabili commented on #90
@mnacinopa can you copy this to the C2 page and just put a note that it is the same process. Then you can close out this issue.

[2017-11-01 18:14] CobyKabili commented on #29
agreed. We also need to put in this section how to find your order status and updated your address and things of this nature

[2017-11-01 18:18] mnacinopa commented on #90
@CobyKabili @peries

[Its liveee. ](https://help.robo3d.com/hc/en-us/articles/115002529251?flash_digest=6e45df654650a65417329aaba7b78704720b4caa)

[2017-11-01 18:20] #90 closed

[2017-11-02 00:53] mnacinopa commented on #84
@CobyKabili @peries

I updated the old [Clogged Extruder guide](https://help.robo3d.com/hc/en-us/articles/115000715531) because it did not seem very useful.  If you think its complete/ after you make edits I can copy it over to the C2  help docs.

[2017-11-02 00:55] CobyKabili commented on #96
@mnacinopa we need an R1+ diagram as well. Our ramps boards are a little different than the stock off the shelf ones

[2017-11-02 00:59] CobyKabili commented on #84
@mnacinopa steps are missing 2-3. It's acting up again

[2017-11-02 01:02] CobyKabili opened #107 "Changing start gcode via web dashboard for different starting temps"
We have had a lot of customers call in about there temps not being set to the right temperature, even though this is just the starting priming line. We need a tutorial on how to go into the web dashboard and change the start gcode temps, and possibly other items in there as well.

[2017-11-02 23:12] mnacinopa commented on #84
Should be fixed. Added it to the C2 side as well.

[2017-11-02 23:12] #84 closed

[2017-11-03 01:04] CobyKabili opened #108 "How to do PID tuning on R2/C2"
Need to write up guide on how to PID tune your printer. We should also include a gcode file that users can easily print to do it for them if they dont want to use the terminal

[2017-11-03 01:04] CobyKabili opened #109 "C2/R2 - How to install a new ras pi board"

[2017-11-03 17:18] mnacinopa commented on #96
![web 1920 1](https://user-images.githubusercontent.com/25697446/32387006-556b667c-c080-11e7-9cc6-0521cd96a158.png)

[2017-11-03 17:36] mnacinopa commented on #107
@peries  Can you scrub through this? Also need to think of a better title/where to place this article
[Changing the Start temp](https://help.robo3d.com/hc/en-us/articles/115002558532)

[2017-11-03 18:36] CobyKabili commented on #96
looks good. Put it in an article and I can update a macro for it.

[2017-11-03 19:49] peries commented on #107
@mnacinopa edited

[2017-11-03 20:31] danrw84 opened #110 "testing"
testing123

[2017-11-03 20:33] #110 closed

[2017-11-03 21:16] mnacinopa commented on #107
@CobyKabili
[R1+ RAMPS Board Wiring Diagram](https://robo3d.zendesk.com/hc/en-us/articles/115002569971)

[2017-11-03 21:17] peries commented on #107
should we also add it as an attachment so people can download it to see it bigger?

[2017-11-03 21:18] mnacinopa commented on #107
Thats a good idea. I'll do it.

[2017-11-03 21:25] mnacinopa commented on #107
@peries  Should be updated.

[2017-11-03 21:27] peries commented on #107
cool.

I just noticed it looks like there's an extra grey line going over the z motor connector on the board
<img width="275" alt="screen shot 2017-11-03 at 2 27 12 pm" src="https://user-images.githubusercontent.com/24902256/32396606-2204508c-c0a3-11e7-8818-e23ff64a0e50.png">

[2017-11-03 21:44] mnacinopa commented on #96
@CobyKabili
[R1+ RAMPS Board Wiring Diagram](https://robo3d.zendesk.com/hc/en-us/articles/115002569971)
Posted in the wrong issue. Lols

[2017-11-03 23:24] CobyKabili commented on #96
Perfect. Thank you.

[2017-11-03 23:24] #96 closed

[2017-11-03 23:31] mnacinopa commented on #107
@peries  [Fixed. ](https://help.robo3d.com/hc/en-us/articles/115002569971)

[2017-11-03 23:35] mnacinopa commented on #109
@CobyKabili @peries  How should we be instructing people to do this? The Raspi stands are nearly impossible to take off. Most of the time I've had to cut them out.

[2017-11-04 00:05] CobyKabili commented on #109
yea this is tricky. Lets get together on monday morning to see how we can tackle this an easier way

[2017-11-06 21:19] mnacinopa opened #111 "Update R2/C2 Firmware update Articles"
Show how to update through file system and webdash

[2017-11-06 21:19] mnacinopa commented on #111
https://help.robo3d.com/hc/en-us/articles/115000722572-Firmware-Update-R2

[2017-11-07 00:06] mnacinopa opened #112 "Replacing Hobbed Gear"

[2017-11-07 00:32] CobyKabili opened #113 "R2/C2 Gifs of lubricating the axis"
We had a comment on this article that requested gifs or pictures to show where to lubricate the axis.

https://help.robo3d.com/hc/en-us/articles/115000715951-Lubricating-the-axis

[2017-11-07 01:14] mnacinopa commented on #111
https://help.robo3d.com/hc/en-us/articles/115000722572

Updated

[2017-11-07 01:14] #111 closed

[2017-11-07 01:35] CobyKabili commented on #100
https://help.robo3d.com/hc/en-us/articles/115002554751-Checking-order-status-and-tracking-number

[2017-11-07 01:35] #100 closed

[2017-11-07 01:37] CobyKabili commented on #107
https://help.robo3d.com/hc/en-us/articles/115002558532-Changing-the-starting-printing-temperature-via-the-start-gcode

[2017-11-07 01:37] #107 closed

[2017-11-07 01:37] CobyKabili commented on #92
https://help.robo3d.com/hc/en-us/articles/115002540172-Mod-your-C2-with-a-3D-printed-fan-duct

[2017-11-07 01:37] #92 closed

[2017-11-07 01:42] #88 closed

[2017-11-07 18:23] mnacinopa opened #114 "R1+ Calibrating Z Axis Guide"
Spinning lead screws until the Endstops disengage.

Update it

[2017-11-07 19:42] CobyKabili opened #115 "Unique Identifyer for extended warranty registration"
Figure out how to make a unique code for registering the extended warranty. Also need a new page for extended warranty registration or linking serial name to unique code so we can do it automatically.

We can use the spy to know when the user turns the machine on to identify when the warranty should go live.

More research still to come

[2017-11-07 19:44] CobyKabili opened #116 "Integrate Zendesk registration forms API to mailchimp"
We want to move to zendesk forms instead of 123contact forms so we can have a better user experience when creating support tickets. Also for the app to have a seamless integration.

For the beginning, we can have registration be on 123 contact forms and move the rest over to zendesk forms to get a feel for how it should work.

[2017-11-08 00:03] mnacinopa commented on #114
https://help.robo3d.com/hc/en-us/articles/115002626312

[2017-11-08 02:18] CobyKabili commented on #114
We need to have one more instruction saying the raise the extruder up and a gif showing moving the extruder from left to right making sure it is flat across the bed meaning no change in gap between the left and right side.

[2017-11-08 17:49] mnacinopa opened #117 "Redirect docs.robo3d.com to Help site"

[2017-11-08 18:44] mnacinopa commented on #114
[Updated it](https://robo3d.zendesk.com/knowledge/articles/115002626312/en-us?brand_id=114094254812&return_to=%2Fhc%2Fen-us%2Farticles%2F115002626312)
@CobyKabili  Let me know if this works

[2017-11-08 18:44] mnacinopa commented on #108
[First Pass](https://help.robo3d.com/hc/en-us/articles/115002627252-How-to-PID-Tune-your-Printer)
@peries @CobyKabili  Take a look at it when you can

[2017-11-08 20:43] spoogs2003 opened #118 "Troubleshooting Guide for R1 Plus thermistor"
Can we please have a troubleshooting guide for low temp error or no temp on the thermistor on the R1 plus. The guide should show how to check for connections issues on the hotend, thermistor long wire, and at the ramps board on the T0 pin.

[2017-11-09 01:24] #108 closed

[2017-11-09 01:41] CobyKabili commented on #114
cool. Edited it a bit but looks good to close out.

[2017-11-09 01:41] #114 closed

[2017-11-09 21:40] CobyKabili opened #119 "redirect docs.robo3d.com to help.robo3d.com"

[2017-11-09 21:40] CobyKabili commented on #119
To access old read the docs on the dev branch, go here http://docs.robo3d.com/en/dev/

[2017-11-09 22:58] mnacinopa commented on #118
@spoogs2003 can you send a picture of the printer spitting out a low temp error?

[2017-11-09 23:19] spoogs2003 commented on #118
Hi,

I don't have a picture handing. The only visual that will prompted to say
the error would be on Mater control. A lot of the time we also determine
the issue by listening to the customers description of how the printer is
acting and then we come to that conclusion.

regards,

*Roberto Leal **B.A. History *
TECH SUPPORT

Phone: *858-213-5224*

5070 Santa Fe St., Suite C
San Diego, CA 92109

www

[2017-11-10 23:41] mnacinopa commented on #113
https://help.robo3d.com/hc/en-us/articles/115000722332

@peries @CobyKabili  Please review it

[2017-11-11 01:20] peries commented on #113
@mnacinopa edited

[2017-11-14 00:43] #119 closed

[2017-11-14 00:43] #117 closed

[2017-11-14 00:49] CobyKabili commented on #113
We should have a picture or saying using the lubricant that came in the toolbox with the printer for the z axis leadscrew

[2017-11-14 01:59] mnacinopa commented on #113
@CobyKabili
added that part.

Also, I forgot to mention to lubricate the Z Shafts (Linear bearings). For those we want to use the 3 in 1 oil like we do for the extruder bearings right? (As opposed to the bushings

[2017-11-14 22:31] peries commented on #113
Can we use the included lube for all of the parts?

[2017-11-14 23:08] mnacinopa commented on #113
We can, but according to Allen/Coby its not advised? It could gunk up the ball bearings. And something about the bushings absorbing it is also bad.

[2017-11-14 23:16] peries commented on #113
So you can use the included one for the z-axis only?

[2017-11-15 20:56] mnacinopa opened #120 "Articles Overhaul"
# R2
## GETTING STARTED

- [ ] Z offset Update (corner)
- [ ] Test Print/Removing Test print (V2 Bed)

## OPERATION

- [ ] Display Screen(Show new Screens)
- [ ] New Z offset (corner)
- [ ] Using Print Bed Adhesion (Add V2 Version)
- [ ] Removing the Print (V2 Bed)
- [ ] Camera On/Off (Add Screens ios/lcd/Web)
- [ ] Correct Shutdown Sequence.  (New Screen/Pictures)

## MAINTENANCE

- [ ] Cleaning

[2017-11-17 01:40] mnacinopa commented on #112
@peries @CobyKabili  First pass up for review
https://help.robo3d.com/hc/en-us/articles/115002682491

[2017-11-21 21:36] CobyKabili opened #121 "Article Organization and symptom explaination"
We received good feedback from a customer with a simple leveling issue, but could have been solved by himself. He brings up good points and I would like to figure out a way to solve the issue of not being able to search for a problem that you are having. I was thinking of an article or section that could be titled what the symptom is, and then linking to the articles to try and solve this system.

[2017-11-21 21:57] peries commented on #121
Yeah I hear what he is saying. @mnacinopa and I have had discussions on this as well. Michael was saying if we title them based on the symptom, there might be a multitude of problems/solutions related to that symptom which would make the article really long and possibly overwhelming to the reader.

But yeah let's brainstorm. I'm sure we can come up with a better way to break it down

[2017-11-21 22:24] mnacinopa commented on #121
@CobyKabili 's suggestion is that we have an article with the symptom, and just include all the links to the possible solution within that article.

[2017-11-22 01:48] peries commented on #112
edited

[2017-11-28 18:19] CobyKabili commented on #121
Here is what mosaic does with palette+. I like it a lot. Check it out

https://mosaicmanufacturing.zendesk.com/hc/en-us/articles/115001512527-Error-Numbers

[2017-12-01 01:32] mnacinopa commented on #121
@CobyKabili @peries @ROBOLabs
Can you guys help me come up with a list of symptons for all the machines? I'm going to be creating a Master Troubleshooting  article (one for each machine) that will have Symptoms and then link to and explain helpful/relevant articles.

I have a draft right here. Going to put it at the top of each troubleshooting section.
[Troubleshooting Index](https://help.robo3d.c

[2017-12-06 01:03] peries commented on #106
hey @bkabili how do articles get into the trending section? is it by views? also when they're listed, can you have it be like

**Article title (linked)**
Product > Category (not linked)

Right now it's

**Category (linked)**
Article title (linked)

[2017-12-06 01:14] peries commented on #106
Also @CobyKabili I think we talked about adding a box underneath community that links out to blog posts? Or some kind of content to show people what else they can do with their prints
![capture](https://user-images.githubusercontent.com/24902256/33639069-74cff984-d9de-11e7-919d-aaf43f05392e.PNG)

[2017-12-07 00:07] bkabili commented on #106
@peries it will show the 5 most recently updated articles or topics visible to the user.

I dont believe zendesk gives access to change the layout inside of the trending section but ill have to do some more research on it.

LMK what the best thing would be for under the community section and I can add it in.

[2017-12-07 20:57] bkabili commented on #106
@peries Ive added a blog section underneath the community section. Please take a look.
https://help.robo3d.com

[2017-12-07 21:36] peries commented on #106
Cool that looks good.

Were you able to find anything on formatting the trending articles? For reference, the way that search lists the returned results would work

![capture](https://user-images.githubusercontent.com/24902256/33739899-99031d88-db53-11e7-8c0d-faeef62f979a.PNG)

[2017-12-11 17:27] bkabili commented on #106
@peries @CobyKabili
Ive looked through the zendesk support and am not seeing that there is a way to change the way results are returned for {{recent_activity}} which is what we are using in that spot.

What I can do for now is format the results with CSS so that the category is not displayed, and we only see the linked title like this:
<img width="600" alt="screen shot 2017-12-11 at 10 22 56 am" s

[2017-12-11 18:20] peries commented on #106
I like it with the CSS changes. I think it's cleaner and the article title is more relevant than the category. What do you think @CobyKabili ?

[2017-12-22 00:51] mnacinopa commented on #121
First draft up for the[ R2/](https://help.robo3d.com/hc/en-us/articles/115003103092) [R1+ ](https://help.robo3d.com/hc/en-us/articles/115003584291)

@peries
@AllenMcAfee
@CobyKabili

[2018-01-11 19:29] mnacinopa opened #122 "Create Saftey notes section/guide"
In light of [this user getting shocked](https://m.youtube.com/watch?a=&v=Lt-0n95GvQo&feature=youtu.be&rdm=3023y62a9&noapp=1&client=mv-google) by his 3D printer. We should eventually include a guide to educate users on safe use/handling of the printer.

[2018-02-06 23:01] CobyKabili opened #123 "Add R1+ videos into support docs"
@mnacinopa I made these a while ago but would be nice to get them into the support docs where they need to go.

https://drive.google.com/open?id=1-JP2pLX-iC3hcNdhWB3wOtoy-n9joe2W

[2018-02-06 23:10] mnacinopa commented on #123
@CobyKabili  These are awesome.I'll find a place for them

[2018-02-07 00:21] mnacinopa commented on #123
@CobyKabili @peries

Added all three to the help docs:

[Removing Jammed filament with tweezzers](https://help.robo3d.com/hc/en-us/articles/115000723592)

[R1+ Hotend Removal](https://help.robo3d.com/hc/en-us/articles/115000716831-R1-Plus-Quick-Release)

[Loading Filament](https://help.robo3d.com/hc/en-us/articles/115001259352-Loading-filament)

[2018-02-09 18:37] #123 closed

[2018-03-13 23:40] peries opened #124 "Consolidate categories in cura for robo desktop"
we have a 'connecting a printer via wi-fi' and 'configure and view the model' section which can be consolidated to the 'get started' category instead

however we need to update the macros in order to make this change

[2018-03-15 22:28] peries opened #125 "update articles with new files tab"
any articles that have the old screen - update to the new screen that has the USB and Local files split screen

[2018-03-15 22:29] peries opened #126 "update FTZO wizard gifs"
to reflect 2.0 update